<table style="width: 100%; display: table;">
  <% scoped_versions.each do |name, version| %>
    <tr>
        <td><strong><%= name %></strong></td>
        <td><strong><%= version %></strong></td>
    </tr>
  <% end %>
  <% packaged_versions.sort.each do |name, version| %>
    <tr>
        <td><%= name %></td>
        <td><%= version %></td>
    </tr>
  <% end %>
</table>
