# update-projects
cache/*
git/*
launchpad/*
reports/*
# align-dependencies
meta-dep/*
# test stuff
coverage/*
test/reports/*
/checkstyle.xml
# bundler
/vendor/*
# rbenv local version lock
/.ruby-version

# vagrant cache
.vagrant/*
# yard 
.yardoc/*
doc/*

# bundler config
.bundle

# ctags
.tags*

Gemfile.lock
ci-tooling/data/projects

# Harald's wip dir is a mess
/wip
