[Unit]
Description=Git Semaphore monitor
After=network.target

[Service]
Type=simple
Environment=HOME=/var/lib/jenkins
ExecStart=/var/lib/jenkins/tooling3/git-monitor/git-monitor
Restart=on-failure
User=jenkins
Group=jenkins

[Install]
WantedBy=multi-user.target
